<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655688320588-gtg8ohn8sc7v5eim9cvbgtjudjgc1k4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655688320588-gtg8ohn8sc7v5eim9cvbgtjudjgc1k4k</string>
	<key>API_KEY</key>
	<string>AIzaSyBlUIFGxrPEBMCk1b39F2yjfEL2l4njP0k</string>
	<key>GCM_SENDER_ID</key>
	<string>655688320588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bebaApp</string>
	<key>PROJECT_ID</key>
	<string>beba-73d47</string>
	<key>STORAGE_BUCKET</key>
	<string>beba-73d47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655688320588:ios:a814e16a9ee616972ed6e9</string>
</dict>
</plist>